@using Digitime.Shared.UI.Components.Common
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.Routing
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Microsoft.AspNetCore.Authorization
@using System.Security.Principal
@using System.Security.Claims
@using System.Net.Http.Json
@using Microsoft.Extensions.Logging;

@inject SignOutSessionStateManager SignOutManager
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject HttpClient _http
@inject ILogger<DashboardComponent> _logger;

@attribute [Authorize]

@code {
    private ClaimsPrincipal _currentUser;

    protected async override Task OnInitializedAsync()
    {
        var authstate = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        _currentUser = authstate.User;

        try
        {
            var results = await _http.GetFromJsonAsync<List<string>>("api/dashboard");
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }
}

<div class="bg-[#F0F4F8] pb-32">
    <header class="py-4">
        <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
            <h4 class="text-base tracking-tight text-gray-500">Welcome, </h4>
            <h3 class="text-3xl font-bold tracking-tight text-black-800">@_currentUser?.Identity?.Name</h3>
            @*<BannerComponent Text="You have 3 days left to fill up your TimeSheet." ButtonText="Configure" ButtonLink="#" />*@

            <div class="mt-16">
                <BigBannerComponent Text="Avoid delays by setting reminders for your timesheets." ButtonText="Setup reminders" ButtonLink="#" ColorClass="yellow-600" Icon="M14.857,17.082a23.848,23.848,0,0,0,5.454-1.31A8.967,8.967,0,0,1,18,9.75V9A6,6,0,0,0,6,9v.75a8.967,8.967,0,0,1-2.312,6.022,23.851,23.851,0,0,0,5.455,1.31m5.714,0a24.255,24.255,0,0,1-5.714,0m5.714,0a3,3,0,1,1-5.714,0" />
                <BigBannerComponent Text="Work smarter, not harder: connect your favorite work Tools to get pre-filled timesheets on the fly !" ButtonText="Connect tools" ButtonLink="#" ColorClass="violet-800" Icon="M3.75,13.5,14.25,2.25,12,10.5h8.25L9.75,21.75,12,13.5Z" />
            </div>
        </div>
    </header>
</div>

<main class="-mt-32">
    <div class="mx-auto max-w-7xl px-4 pb-12 sm:px-6 lg:px-8">

        <IndicatorsListComponent />

        <CalendarComponent />

        @*      <WorkerEmptyStateComponent />

        <ManagerEmptyStateComponent />*@

        @*<SubmittedTimesheet />*@

        @*<WorkerTimesheet />*@

    </div>
</main>
<FooterComponent />


@code {

}
