@using Digitime.Shared.UI.Components.Common
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.Routing
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Microsoft.AspNetCore.Authorization
@using System.Security.Principal
@using System.Security.Claims
@using System.Net.Http.Json
@using Microsoft.Extensions.Logging;

@inject SignOutSessionStateManager SignOutManager
@inject AuthenticationStateProvider GetAuthenticationStateAsync
@inject HttpClient _http
@inject ILogger<DashboardComponent> _logger;

@attribute [Authorize]

@code {
    private ClaimsPrincipal _currentUser;

    protected async override Task OnInitializedAsync()
    {
        var authstate = await GetAuthenticationStateAsync.GetAuthenticationStateAsync();
        _currentUser = authstate.User;

        try
        {
            var results = await _http.GetFromJsonAsync<List<string>>("api/dashboard");
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }
}

<div class="bg-[#F0F4F8] pb-32">
    <header class="py-4">
        <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
            <h4 class="text-base tracking-tight text-gray-500">Welcome, </h4>
            <h1 class="text-3xl font-bold tracking-tight text-black-800">@_currentUser?.Identity?.Name</h1>
            <BannerComponent Text="You have 3 days left to fill up your TimeSheet." ButtonText="Configure" ButtonLink="#" />
        </div>
    </header>
</div>

<main class="-mt-32">
    <div class="mx-auto max-w-7xl px-4 pb-12 sm:px-6 lg:px-8">

        <IndicatorsListComponent />
@*
        <CalendarTimesheetComponent />*@
        
  @*      <WorkerEmptyStateComponent />

        <ManagerEmptyStateComponent />*@

        <SubmittedTimesheet />

        @*<WorkerTimesheet />*@

    </div>
</main>
<FooterComponent />


@code {

}
