@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using System.Net.Http.Json
@inject HttpClient _http


@code {
    private List<string> _timesheets = new List<string>();

    protected async override Task OnInitializedAsync()
    {
        try
        {
            _timesheets = await _http.GetFromJsonAsync<List<string>>("api/dashboard/indicators");
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }
}

<div>
    <dl class="mt-5 grid grid-cols-1 gap-5 sm:grid-cols-3">
        <div class="overflow-hidden rounded-lg bg-white px-4 py-4 shadow-md sm:p-6">
            <dt class="truncate text-sm font-medium text-gray-500">Total Subscribers</dt>
            <dd class="mt-1 text-3xl font-semibold tracking-tight text-gray-900">71,897</dd>
        </div>

        <div class="overflow-hidden rounded-lg bg-white px-4 py-4 shadow-md sm:p-6">
            <dt class="truncate text-sm font-medium text-gray-500">Avg. Open Rate</dt>
            <dd class="mt-1 text-3xl font-semibold tracking-tight text-gray-900">58.16%</dd>
        </div>

        <div class="overflow-hidden  rounded-lg bg-white px-4 py-4 shadow-md sm:p-6">
            <dt class="truncate text-sm font-medium text-gray-500">Avg. Click Rate</dt>
            <dd class="mt-1 text-3xl font-semibold tracking-tight text-gray-900">24.57%</dd>
        </div>
    </dl>
</div>