@using Digitime.Client.Infrastructure.Abstractions;
@using Digitime.Shared.Dto;
@using Digitime.Shared.UI.Components.Common
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using System.Net.Http.Json
@inject IDataStore DataStore;


@code {
    private List<DashboardIndicatorsDto> _indicators = new();

    protected async override Task OnInitializedAsync()
    {
        _indicators = await DataStore.GetDashboardIndicators();
    }
}

<div>
    <dl class="mt-5 grid grid-cols-1 gap-5 sm:grid-cols-3">
        @if (_indicators != null && _indicators.Any())
        {
            @foreach (var indicator in _indicators)
            {
                <IndicatorComponent Value="@indicator.Value" Title="@indicator.Title" Variation="@indicator.Variation?.ToString()" />
            }
        }
        else
        {
            <IndicatorComponent Value="" Title="" Variation="" />
            <IndicatorComponent Value="" Title="" Variation="" />
            <IndicatorComponent Value="" Title="" Variation="" />
        }

    </dl>
</div>