@using Digitime.Shared.UI.Components.Common
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using System.Net.Http.Json
@inject HttpClient _http


@code {
    private List<string> _timesheets = new List<string>();
    private string _workers;
    private string _avgFillingRate;
    private string _pendingTimesheets;

    protected async override Task OnInitializedAsync()
    {
        try
        {
            _timesheets = await _http.GetFromJsonAsync<List<string>>("api/dashboard/indicators");
            if (_timesheets.Count != 3)
                return;

            _workers = _timesheets[0];
            _avgFillingRate = _timesheets[1];
            _pendingTimesheets = _timesheets[2];
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }
}

<div>
    <dl class="mt-5 grid grid-cols-1 gap-5 sm:grid-cols-3">
        <IndicatorComponent Value="@_workers" Title="Total workers" />
        <IndicatorComponent Value="@_avgFillingRate" Title="Avg. Filling rate" />
        <IndicatorComponent Value="@_pendingTimesheets" Title="Pending timesheets" />
    </dl>
</div>